

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  hsla(57, 76%, 95%, 0.253);
}

.logo a{
    text-decoration: none;
    color: hsla(128, 85%, 23%, 0.859);
    background-color: hsla(0, 0%, 0%, 0.0);
    border: 2px solid hsla(128, 85%, 23%, 0.859  );
    border-radius: 5px;
    box-shadow: 0 4px hsla(128, 85%, 23%, 0.859  );
    padding: 5px 10px;
    
    margin-left: 10px;
    font-weight: bold;
}

/* creats responsive links buttons*/

.logo a:hover{
    font-weight: 400;
}

.logo a:active{
    position:relative;
    top: 4px;
    box-shadow: 0 0px;
}
/* styles.css */
.multi-step-form fieldset {
    display: none;
}

.multi-step-form fieldset:first-of-type {
    display: block;
}

form {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

button[type="submit"] {
    width: 100%;
} 


/* navegation section redo to have semi flat buttons more accesable on mobile device*/
.navcontainer{
    width:fit-content;
    margin: auto;
}


 #navbar a{
    text-decoration: none;
    color: hsla(128, 85%, 23%, 0.859);
    background-color: hsla(0, 0%, 0%, 0.0);
    border: 2px solid hsla(128, 85%, 23%, 0.859  );
    border-radius: 5px;
    box-shadow: 0 4px hsla(128, 85%, 23%, 0.859  );
    padding: 5px 10px;
    
    margin-left: 10px;
    font-weight: bold;
}

/* creats responsive links buttons*/

#navbar a:hover{
    font-weight: 400;
}

#navbar a:active{
    position:relative;
    top: 4px;
    box-shadow: 0 0px;
}


#navbar li{
    display: inline-block;
    margin:10px auto;
   
}


/* updated below  */



.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

form {
    margin-bottom: 2rem;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

button[type="submit"] {
    width: 100%;
    margin-bottom: 1rem;
}

button[type="button"] {
    margin-right: 1rem;
}

.summary {
    padding: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}
